.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    flex: 1 1 calc(25% - 40px); /* Ajustar el margen para centrar mejor */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  
  .card-image {
    width: 100%;
    height: auto;
  }
  
  .card-content {
    padding: 15px;
  }
  
  .card-content p {
    margin: 0 0 10px;
  }
  
  .card-content a {
    color: #007bff;
    text-decoration: none;
  }
  
  .card-content a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 1024px) {
    .card {
      flex: 1 1 calc(33.333% - 40px); /* Ajustar el margen para centrar mejor */
    }
  }
  
  @media (max-width: 768px) {
    .card {
      flex: 1 1 calc(50% - 40px); /* Ajustar el margen para centrar mejor */
    }
  }
  
  @media (max-width: 480px) {
    .card {
      flex: 1 1 calc(100% - 20px); /* Ajustar el margen para centrar mejor */
    }
  }